@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">APAC - SARS Prefetcher</h1>
    <p> Application of SARS Algorithm with Reinforcement Learning</p>
</div>
